httpx==0.27.0
requests==2.31.0
pydantic>=2.0.0,<2.7.0
pydantic-settings==2.2.1
watchdog==4.0.0
langchain==0.1.12
langchain-community==0.0.28
langchain-text-splitters==0.0.1
pypdf==4.1.0
python-docx
openpyxl
unstructured
docx2txt==0.8
networkx
xlrd
pandas
tabulate
python-pptx
lxml
msoffcrypto-tool
